.Description {
    font-size: 0.9rem;
    padding: 0 0.25rem;

    .user {
        font-weight: 700;
    }
    .dot {
        padding: 0 0.25rem;
    }
    .text::first-letter {
        text-transform: capitalize;
    }
}
