.MainCard {
    position: relative;

    width: 100%;
    min-width: 250px;
    max-width: 400px;

    border-radius: 10px;
    box-shadow: 0 0 5px #0005;

    background: #fff;

    // TopInfo
    .mainImage {
        width: 100%;
        min-height: 100px;
        // 100svh - topBar - bottomBar - padding
        max-height: calc(100svh - 3.5rem - 3rem - 10px);
        object-fit: cover;
        
        background: #000;
    }
    // .BottomBar
    .cardFooter {
        display: grid;
        gap: 0.75rem;
    }
}
@media (max-width: 560px) {
    .MainCard {
        .mainImage {
            // 100svh - topBar - bottomBar - NavBar
            max-height: calc(100svh - 3.5rem - 3rem - 3.25rem);
        }
    }
}
