.TopInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 0.5rem;
    padding: 0.5rem;

    .user {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & img {
            height: 30px;
            border-radius: 50%;
            background: #f4346d;
        }
        & h2 {
            font-size: 1rem;
            font-weight: 500;

            // Oveflowed text
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .openMenu {
        display: grid;
        place-items: center;

        aspect-ratio: 1;
        font-size: 1.5rem;
    }
}
