.NotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;
    padding: 0.5rem;

    min-height: 100svh;

    & header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;

        & img {
            width: 8rem;
        }
        .text {
            & h2 {
                font-size: 3rem;
                font-weight: 800;
            }
            // & h3 {}
        }
    }
    & a {
        padding: 1rem 2rem;

        border-radius: 5px;

        color: #fff;
        background: #000;

        // & h3 {}

        &:hover {
            background: #F3346D;
        }
    }
}
