.User {
    margin: auto;

    width: 100%;
    max-width: 800px;

    border: 1px solid #222;
    border-radius: 10px;

    background: #111;

    // HeaderInfo

    // ConectionButtons

    // Gallery
}
