@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --main: #eee;
  --sec: #111;
  --sec1: #222;
  --sec2: #333;
  --sec3: #555;

  user-select: none;
  font-family: "Montserrat", sans-serif;

  
}

body {
  color: var(--main);
  background-color: var(--sec);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

  border: 1px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


/* LIGHT THEME */
.light {
  --main: #111;
  --sec: #fff;
  --sec1: #ddd;
  --sec2: #bbb;
  --sec3: #999;
}

/* DARK THEME */
.dark {
    --color: #eee;
    --sec: #111;
    --sec1: #222;
    --sec2: #333;
    --sec3: #555;
}