.Loading {
    display: grid;
    place-items: center;

    height: 100%;

    & img {
        width: 100px;
        animation: rotate 1s ease-in-out infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
