.GalleryItem {
    position: relative;

    display: grid;
    margin-bottom: 10px;

    background: #000;

    .toUnsplash {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;

        display: grid;
        place-items: center;

        width: 2rem;
        aspect-ratio: 1;

        overflow: hidden;
        border-radius: 50%;

        cursor: pointer;

        background: #fff;
    }
    .picture {
        max-width: 100%;
    }
    // Link with the picture Id
    .goPicture {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    & footer {
        position: absolute;
        bottom: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 0.5rem;
        padding: 0 0.5rem;

        width: 100%;
        height: 2rem;

        .user {
            display: flex;
            align-items: center;

            overflow: hidden;
            height: 100%;
            border-radius: 999px;

            cursor: pointer;
            background: #fff;

            & img {
                height: 100%;
                aspect-ratio: 1;

                border-radius: 50%;
                background: #f4346d;
            }
            & h3 {
                font-size: 1rem;
                font-weight: 500;

                padding-left: 0.5rem;
                padding-right: 0.75rem;

                min-width: 75px;

                // Oveflowed text
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .Like {
            display: grid;
            place-items: center;

            width: 2rem;
            aspect-ratio: 1;

            overflow: hidden;
            border-radius: 50%;

            cursor: pointer;
            background: #fff;
        }
    }
}
