.Pagination {
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    background: #000;

    & h3 {
        flex: 1;

        display: grid;
        place-items: center;

        font-size: 2rem;
        min-width: 70px;

        color: #fff;
    }

    & button {
        flex: 4;

        display: grid;
        place-items: center;

        padding: 1rem 0.5rem;
        font-size: 2rem;

        min-width: 100px;

        cursor: pointer;
        background: transparent;

        & svg {
            color: #fff;
        }

        &:hover {
            background: #f4346d;
        }
    }
    .noClick {
        cursor: auto;
        & svg {
            color: #333;
        }
        &:hover {
            background: transparent;
        }
    }
}
