.App {
  display: grid;
  // auto = NavBar width: 280px
  grid-template-columns: auto 1fr;

  min-height: 100svh;
}

@media (max-width: 560px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;

    .NavBar {
      order: 100;
    }
  }
}
