.App {
  display: grid;
  // Navbar 4rem
  grid-template-columns: auto 1fr;

  .display {
    overflow-y: auto;
    height: 100dvh;
    background: #fff;
  }  
}

@media (max-width: 560px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    
    .display {
      // 100% - NavBar
      height: calc(100dvh - 3.75rem);
    }

    .NavBar {
      order: 2;
    }
  }
}
