.App {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
  
  margin: auto;
  min-height: 100svh;

  .display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 0 0.25rem;

    width: 100%;
  }
}
